<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Artist Details</title>
    <link rel="stylesheet" href="/">
</head>
<body>
    <header>
        <h1>{{.Name}}</h1>
        <!-- Home Button -->
        <a href="/" class="home-button">Home</a>
    </header>
    <main>
        <div class="artist-details">
            <img src="{{.Image}}" alt="{{.Name}}">
            <p>Members: {{range .Members}}{{.}}, {{end}}</p>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>

            <!-- Tour dates and locations -->
            <h2>Tour Dates & Locations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {{range $location, $dates := .Relations}}
                    {{range $date := $dates}}
                    <tr>
                        <td>{{$location}}</td>
                        <td>{{$date}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
