<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/">
</head>
<body>
    <header>
        <h1>List of Artists</h1>
        <!-- Navigation bar -->
        <nav class="navbar">
            <ul>
                <li><a href="/dates">Dates</a></li>
                <li><a href="/locations">Locations</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Search form -->
        <div class="search-container">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search for artists...">
                <input type="submit" value="Search">
            </form>
        </div>

        <h5>A bit of description about the project goes here</h5>
        <h5>A return home page is still missing</h5>
        <h5>All status code errors should not be forgotten, and test files too</h5>
        
        <section id="artists">
            {{range .}}
            <a href="/artist/{{.ID}}" class="artist-link">
                <div class="artist">
                    <h2>{{.Name}}</h2>
                    <img src="{{.Image}}" alt="{{.Name}}">
                </div>
            </a>
            {{end}}
        </section>
    </main>
</body>
</html>
